# Handling Categorical Data in Pandas

This notebook demonstrates various operations for handling categorical data in Pandas, including converting columns to categorical types, counting categories, adding and removing categories, renaming categories, and sorting. It also shows how to visualize categorical data using Seaborn.

In [83]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Creating a Sample DataFrame

We will create a DataFrame to represent fruit data, including fruit types and quantities.

In [84]:
# Create a dictionary with sample data
data = {
    'Fruit': ['Apple', 'Banana', 'Apple', 'Orange', 'Banana', 'Banana'],
    'Quantity': [10, 5, 8, 3, 7, 2]
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
df

    Fruit  Quantity
0   Apple        10
1  Banana         5
2   Apple         8
3  Orange         3
4  Banana         7
5  Banana         2

## Converting a Column to Categorical

We will convert the 'Fruit' column to a categorical type to optimize memory usage and improve performance.

In [85]:
# Convert 'Fruit' column to categorical
df['Fruit'] = df['Fruit'].astype('category')


# Display the data types of the DataFrame
df.dtypes

Fruit       category
Quantity       int64
dtype: object

## Counting the Number of Each Category

We will count the number of occurrences of each category in the 'Fruit' column.

In [86]:
# Count the number of each category
fruit_counts = df['Fruit'].value_counts()

# Display the counts of each category
fruit_counts

Fruit
Banana    3
Apple     2
Orange    1
Name: count, dtype: int64

## Adding a New Category

We will add a new category 'Grape' to the 'Fruit' column.

In [87]:
# Add a new category
df['Fruit'] = df['Fruit'].cat.add_categories(['Grape'])

# Display the categories of the 'Fruit' column
df['Fruit'].cat.categories

Index(['Apple', 'Banana', 'Orange', 'Grape'], dtype='object')

## Removing a Category

We will remove the category 'Orange' from the 'Fruit' column.

In [88]:
# Remove a category
df['Fruit'] = df['Fruit'].cat.remove_categories(['Orange'])

# Display the categories of the 'Fruit' column
df['Fruit'].cat.categories

Index(['Apple', 'Banana', 'Grape'], dtype='object')

## Renaming Categories

We will rename the categories in the 'Fruit' column to more descriptive names.

In [89]:
# Rename categories
df['Fruit'] = df['Fruit'].cat.rename_categories({'Apple': 'Red Apple', 'Banana': 'Yellow Banana'})

# Display the DataFrame
df

           Fruit  Quantity
0      Red Apple        10
1  Yellow Banana         5
2      Red Apple         8
3            NaN         3
4  Yellow Banana         7
5  Yellow Banana         2

In [90]:
# Display the categories of the 'Fruit' column
df['Fruit'].cat.categories

Index(['Red Apple', 'Yellow Banana', 'Grape'], dtype='object')

## Sorting and Ordering

We will define a specific order for the categories and sort the DataFrame based on this order.

In [78]:
# Define a specific order for the categories
df['Fruit'] = df['Fruit'].cat.reorder_categories(['Yellow Banana', 'Red Apple', 'Grape'], ordered=True)

# Sort the DataFrame based on the categorical order
sorted_df = df.sort_values(by='Fruit')

# Display the sorted DataFrame
sorted_df

           Fruit  Quantity
1  Yellow Banana         5
4  Yellow Banana         7
5  Yellow Banana         2
0      Red Apple        10
2      Red Apple         8
3            NaN         3