# Merge: 
These are methods for combining and comparing Series or DataFrame objects.

## 1. Concat

Concatenating merges multiple Series or DataFrame objects along a shared index or column.

### Concatenating Along Rows (Stacking on Top)

Two lists of students from different classes, and you want to combine them into one big list.

In [1]:
import pandas as pd

data1 = pd.DataFrame({
    'Name': ['Eric', 'Ivy'],
    'Age': [40, 37]
})

data2 = pd.DataFrame({
    'Name': ['Jane', 'Jude'],
    'Age': [10, 7]
})

# Concatenate along rows
concat_rows = pd.concat([data1, data2], axis=0)
concat_rows

   Name  Age
0  Eric   40
1   Ivy   37
0  Jane   10
1  Jude    7

### Concatenating Along Columns (Placing Side by Side)

List of student names and another list of their grades, and you want to combine them side by side.

In [2]:
names_df = pd.DataFrame({
    'Name': ['Eric', 'Ivy', 'Jane', 'Jude']
})

age_df = pd.DataFrame({
    'Age': [40, 37, 10, 7]
})

concat_columns = pd.concat([names_df, age_df], axis=1)
concat_columns

   Name  Age
0  Eric   40
1   Ivy   37
2  Jane   10
3  Jude    7