# Merge: 
These are methods for combining and comparing Series or DataFrame objects.

## 1. Concat

Concatenating merges multiple Series or DataFrame objects along a shared index or column.

### Concatenating Along Rows (Stacking on Top)

Two lists of students from different classes, and you want to combine them into one big list.

In [1]:
import pandas as pd

data1 = pd.DataFrame({
    'Name': ['Eric', 'Ivy'],
    'Age': [40, 37]
})

data2 = pd.DataFrame({
    'Name': ['Jane', 'Jude'],
    'Age': [10, 7]
})

# Concatenate along rows
concat_rows = pd.concat([data1, data2], axis=0)
concat_rows

   Name  Age
0  Eric   40
1   Ivy   37
0  Jane   10
1  Jude    7

### Concatenating Along Columns (Placing Side by Side)

List of student names and another list of their grades, and you want to combine them side by side.

In [2]:
names_df = pd.DataFrame({
    'Name': ['Eric', 'Ivy', 'Jane', 'Jude']
})

age_df = pd.DataFrame({
    'Age': [40, 37, 10, 7]
})

concat_columns = pd.concat([names_df, age_df], axis=1)
concat_columns

   Name  Age
0  Eric   40
1   Ivy   37
2  Jane   10
3  Jude    7

## 2. Join

The join function in pandas is used to combine two DataFrames based on their indexes or a common column. It is particularly useful for merging DataFrames with different columns but the same index or key.

### Joining on Index

Imagine you have two DataFrames: one with student names and ages, and another with their grades. You want to combine these DataFrames based on their indexes.

In [4]:
students1 = pd.DataFrame({
    'Name': ['Eric', 'Ivy'],
    'Age': [40, 37]
}, index=[1, 2])

grades1 = pd.DataFrame({
    'Grade': [97, 92]
}, index=[1, 2])

joined_index = students1.join(grades1)
joined_index

   Name  Age  Grade
1  Eric   40     97
2   Ivy   37     92

### Joining on a Common Column

Imagine you have two DataFrames: one with student names and ages, and another with student names and their grades. You want to combine these DataFrames based on the student names.

In [5]:
students2 = pd.DataFrame({
    'Name': ['Eric', 'Ivy'],
    'Age': [40, 37]
})

grades2 = pd.DataFrame({
    'Name': ['Eric', 'Ivy'],
    'Grade': [97, 92]
})

joined_column = students2.set_index('Name').join(grades2.set_index('Name'))
joined_column

      Age  Grade
Name
Eric   40     97
Ivy    37     92