# DataFrame Operations in Pandas

This notebook demonstrates various DataFrame operations in Pandas, including statistical calculations, shifting values, applying user-defined functions, and string operations.

In [1]:
import pandas as pd
import numpy as np

## Creating a DataFrame for Patient Data

We will create a DataFrame to represent patient data, including age, height, and weight.

In [2]:
# Create a dictionary with patient data
patients_data = {
    'Age': [25, 34, 45, 56, 28, 40, 33, 29, 50, 60],
    'Height': [170, 165, 180, 175, 160, 155, 185, 172, 168, 174],  # Height in cm
    'Weight': [70, 65, 85, 90, 60, 55, 88, 75, 68, 77]  # Weight in kg
}

# Create a Pandas DataFrame from the dictionary
patients_df = pd.DataFrame(patients_data, index=list(range(10)))

# Display the DataFrame
patients_df

   Age  Height  Weight
0   25     170      70
1   34     165      65
2   45     180      85
3   56     175      90
4   28     160      60
5   40     155      55
6   33     185      88
7   29     172      75
8   50     168      68
9   60     174      77