# Reshaping Data in Pandas

This notebook demonstrates various methods for reshaping data in a Pandas DataFrame, including pivot, melt, stack, unstack, and pivot_table.

In [10]:
import pandas as pd

## Creating a DataFrame for Sales Data

We will create a DataFrame to represent sales data, including dates, products, and sales amounts.

In [11]:
# Create a dictionary with sales data
data = {
    'Date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
df

         Date Product  Sales
0  2021-01-01       A    100
1  2021-01-01       B    150
2  2021-01-02       A    200
3  2021-01-02       B    250

## Pivot: Reshaping Data by Turning Unique Values from One Column into Multiple Columns

We will use the `pivot` method to reshape the data by turning unique values from the 'Product' column into multiple columns.

In [12]:
# Pivot the DataFrame
pivoted = df.pivot(index='Date', columns='Product', values='Sales')

# Display the pivoted DataFrame
pivoted

Product       A    B
Date
2021-01-01  100  150
2021-01-02  200  250

## Melt: Converting a Wide-Format DataFrame into a Long-Format DataFrame

We will use the `melt` method to convert the wide-format DataFrame back into a long-format DataFrame.

In [13]:
# Melt the pivoted DataFrame
melted = pivoted.reset_index().melt(id_vars='Date', value_vars=['A', 'B'], var_name='Product', value_name='Sales')

# Display the melted DataFrame
melted

         Date Product  Sales
0  2021-01-01       A    100
1  2021-01-02       A    200
2  2021-01-01       B    150
3  2021-01-02       B    250

## Stack: Stacking the Columns of a DataFrame into a Multi-Level Index

We will use the `stack` method to stack the columns of the pivoted DataFrame into a multi-level index.

In [14]:
# Stack the pivoted DataFrame
stacked = pivoted.stack()

# Display the stacked DataFrame
stacked

Date        Product
2021-01-01  A          100
            B          150
2021-01-02  A          200
            B          250
dtype: int64

## Unstack: Unstacking a Multi-Level Index Back to Columns

We will use the `unstack` method to unstack the multi-level index back to columns.

In [15]:
# Unstack the stacked DataFrame
unstacked = stacked.unstack()

# Display the unstacked DataFrame
unstacked

Product       A    B
Date
2021-01-01  100  150
2021-01-02  200  250

## Creating a Pivot Table for Data Summarization with Aggregation

We will create a DataFrame to represent sales data with quantities and use the `pivot_table` method to create a pivot table for data summarization with aggregation.

In [16]:
# Create a dictionary with sales and quantity data
data1 = {
    'Date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250],
    'Quantity': [10, 15, 20, 25]
}

# Create a Pandas DataFrame from the dictionary
df1 = pd.DataFrame(data1)

# Display the DataFrame
df1

         Date Product  Sales  Quantity
0  2021-01-01       A    100        10
1  2021-01-01       B    150        15
2  2021-01-02       A    200        20
3  2021-01-02       B    250        25

## Creating a Pivot Table

We will use the `pivot_table` method to create a pivot table that summarizes the sales and quantities for each product on each date.

In [17]:
# Create a pivot table
pivot_table = df1.pivot_table(index='Date', columns='Product', values=['Sales', 'Quantity'], aggfunc='sum')

# Display the pivot table
pivot_table

           Quantity     Sales
Product           A   B     A    B
Date
2021-01-01       10  15   100  150
2021-01-02       20  25   200  250